<template>
    <div class="col-lg-6 block-bordered top-buffer bg-white">
    <div class="block-title-row">Добавить товар</div>
    <form id="products-add" class="top-buffer bottom-buffer">
    <div class="form-group">
        <label for="category">Выберите категорию</label>
        <select v-model="catId" @change="loadAttributes()" id="category">
            <option selected disabled>Выберите категорию</option>
            <option v-for="(value, key) in categories" :value="value.id">{{value.name}}</option>
        </select>
    </div>
        <div class="col-md-6 overflowed">
            <template v-for="(value, key) in message">
            <div v-if="!isResource(value)" class="form-group product-edit-field">
                <label :for="key">{{value.attr_name}}</label><br/>
                <input v-if="isBoolean(value)" v-model="response[key]" type="checkbox" :id="key"/>
                <textarea v-else-if="isText(value)" v-model="response[key]" :id="key"></textarea>
                <input v-else v-model="response[key]" type="text" :id="key"/>
            </div>
            </template>
        </div>
        <div class="col-md-6 max-width overflowed">
                <div v-for="(value, key) in resources" class="form-group product-edit-field">
                 <label :for="key">{{value.attr_name}}</label><br/>
                  <input @change="addResource(key, $event)" type="file" :name="key" :id="key"/>
                </div>
        </div>
        <div class="row">
            <button v-show="isFieldsLoaded" @click="addProduct" type="button" class="btn btn-default btn-lg all-buffer max-width">
                <span class="glyphicon glyphicon-plus"></span> Добавить
            </button>
        </div>
    </form>
    </div>
</template>

<script>
    export default {
       data: function () {
           return {
               message: {},
               resources: {},
               response: {},
               counter: 1,
               categories: Store.variables.activeCategories,
               catId: ''
           }
       },
       computed: {
           isFieldsLoaded: function () {
               return Object.keys(this.message).length !== 0
           }
       },
       methods: {
           loadAttributes: function () {
               var vm = this;
               var data = new FormData();
               data.append( 'id', vm.catId );
               data.append( '_token', window.Laravel.csrfToken );

               fetch(Store.routes.getCategoryFields, {
                   method: 'post',
                   credentials: "same-origin",
                   body: data
               })
                   .then(function (msg) {
                       return msg.json();
           })
                   .then(function (msg) {
                       vm.resources = {};
                       vm.message = msg;
                       for (var key in msg) {
                           if (msg[key].type == Config.types.image) {
                               vm.resources[Config.specials.prefixes.image + vm.counter] = msg[key];
                               delete vm.message[key];
                           }
                       }
                   });
           },
           addProduct: function () {
               var vm = this;
               vm.loading = true;
               var data = new FormData();

               for(var name in vm.response) {
                   data.append( name, vm.response[name] );
               }
               data.append( '_token', window.Laravel.csrfToken );
//                  data.append( 'msg', msg);
               data.append( 'category', vm.catId);


               fetch(Store.routes.addProduct, {
                   method: 'post',
                   credentials: "same-origin",
                   body: data
               })
                   .then(function (msg) {
                       console.log(msg);
                       return msg.text();
                   });
               Event.$emit('productAdded', vm.response['attr_1']);
           },
           addResource: function (key, e) {
               this.response[key] = e.path[0].files[0];
               /*  Пока не поддерживается. Функционал для добавления нескольких фотографий к товару.
                   Требует допиливания:
               TODO: 1. адекватное поведение компонента при наличии в resource нескольких фото
               TODO: 2. отображение нескольких фото в окошке апдейта товара (слайдер мб)

                 var newCounter = this.counter + 1;
                 var originResource = this.resources[Config.specials.prefixes.image + this.counter];

                 if(newCounter <= Config.init.settings.max_images_count) {
                     this.$set(this.resources, Config.specials.prefixes.image + newCounter, originResource );
                     this.counter++;
                } */
           },
           isBoolean: function (value) {
               return value.type == Config.types.bool;
           },
           isText: function (value) {
               return value.type == Config.types.text;
           },
           isResource: function (value) {
               return value.type == Config.types.image;
           }
       }
           }
</script>

<style scoped>
    .overflowed {
        overflow-y: auto;
    }
</style>