<template>
    <div id="products-list" class="col-lg-6 block-bordered top-buffer bg-white">
        <div class="block-title-row">Список товаров по категориям</div>
        <div id="products-container">
            <div v-if="loading">Идёт загрузка данных... Пожалуйста подождите.</div>
            <template v-else>
                <a @click="getCategories(1);getProducts(1)" href="#">Все категории</a>
                <br/><a v-for="(value, key) in categories" @click="getCategories(key); getProducts(key)">
                    {{ value }}<br/></a>
                <div v-if="haveProducts" class="top-buffer block-title-row">Список товаров: </div>
                <product v-for="(value, key) in products" :key="key" :productId="key" :value="value"></product>
            </template>
        </div>
    </div>
</template>

<script>
export default {
            data: function () {
                var cats = {};
                var varStore = Store.variables;

                Object.keys(varStore.activeCategories).forEach(function(key) {
                    var catId = varStore.activeCategories[key][Config.columns.primarykeys.id];
                    var catName =varStore.activeCategories[key][Config.columns.basecols.name];
                    cats[catId] = catName;
                });

                return { categories: cats, products: {}, haveProducts: false, loading: false, categoryId: null}
            },
            methods: {
                getCategories: function(catId) {
                    window.Cache = {};
                    var vm = this;
                    vm.loading = true;
                    if(vm.categoryId == null) {
                        vm.categoryId = catId;
                    }

                    var data = new FormData();
                    data.append( 'id', catId );
                    data.append( '_token', window.Laravel.csrfToken );

                    fetch(Store.routes.getCategories, {
                        method: 'post',
                        credentials: "same-origin",
                        body: data
                    })
                        .then(function (msg) {
                            return msg.json();
                        })
                        .then(function (msg) {
                            console.log(msg);
                            vm.categories = {};
                            for (var key in msg) {
                                vm.categories[key] = msg[key];
                            }
                            if(catId == vm.categoryId) {
                                window.Cache = {};
                                vm.loading = false;
                            }
                        });

                },
                getProducts: function (catId) {
                    var vm = this;
                    vm.loading = true;

                    var data = new FormData();
                    data.append( 'id', catId );
                    data.append( '_token', window.Laravel.csrfToken );

                    fetch(Store.routes.getProducts, {
                        method: 'post',
                        credentials: "same-origin",
                        body: data
                    })
                        .then(function (msg) {
                            return msg.json();
                        })
                        .then(function (msg) {
                            console.log(msg);
                            window.Cache = {};
                            for(var key in msg) {
                                vm.haveProducts = true;
                                vm.products[key] = msg[key][Config.init.baseattrs.name]['value'];
                                window.Cache[key] = msg[key];
                            }
                            vm.loading = false;
                        });
                },
            },
            created: function () {
                var vm = this;
                Event.$on('productAdded', function () {
                    vm.getProducts(vm.categoryId);
                });

                Event.$on('productDeleted', function (id) {
                    vm.products = {};
                    vm.categoryId = id;
                    vm.getProducts(vm.categoryId);
                });
            }
        }
</script>