<template>
    <div @click.self="closeForm" v-if="show" class="product-form">
        <form>
        <div class="col-md-6 overflowed">
            <template v-for="(value, key) in message">
            <div v-if="!isResource(value)" class="form-group product-edit-field">
                <label :for="key">{{value.attr_name}}</label><br/>
                <input v-if="isBoolean(value)" v-model="value.value" type="checkbox" :id="key"/>
                <textarea v-else-if="isText(value)" v-model="value.value" :id="key"></textarea>
                <input v-else v-model="value.value" type="text" :id="key"/>
            </div>
            </template>
        </div>
        <div class="col-md-6 overflowed">
                <div v-for="(value, key) in resources" class="col-md-12 form-group product-edit-field">
                  <label :for="key">{{value.attr_name}}</label><br/>
                  <img :src="value.value"/>
                  <input :v-model="value.value" type="file" :id="key"/>
                </div>
        </div>
        <button @click.self="updateProduct" type="button" class="btn btn-success">Обновить</button>
            <button @click.self="deleteProduct" type="button" class="btn btn-danger">Удалить</button>
        <button @click.self="closeForm" type="button" class="btn btn-warning">Отменить</button>
        </form>
    </div>
</template>

<script>
export default {
            props: ['actualid'],
            data: function(){
                return {show: false, message: {}, resources: {}, id: null}
            },
            methods: {
                closeForm: function () {
                    this.show = false;
                },
                updateProduct: function() {
                    var vm = this;
                    vm.loading = true;
                    console.log(vm.message);
                    var data = new FormData();
                    data.append( 'msg', JSON.stringify(vm.message) );
                    data.append( '_token', window.Laravel.csrfToken );

                    fetch(Store.routes.updateProduct, {
                        method: 'post',
                        credentials: "same-origin",
                        body: data
                    })
                        .then(function (msg) {
                            return msg.json();
                        })
                        .then(function (msg) {
                            var productId = vm.message[Config.init.baseattrs.name]['product_id'];
                            window.Cache[productId] = vm.message;
                            vm.closeForm();
                        })
                },
                deleteProduct: function() {
                    var vm = this;
                    vm.loading = true;
                    var data = new FormData();
                    data.append( 'id', vm.id );
                    data.append( '_token', window.Laravel.csrfToken );

                    fetch(Store.routes.deleteProduct, {
                        method: 'post',
                        credentials: "same-origin",
                        body: data
                    })
                        .then(function (msg) {
                            delete window.Cache[vm.id];
                            Event.$emit('productDeleted', vm.id);
                            vm.closeForm();
                        })
                },
                isBoolean: function (value) {
                    return value.type == Config.types.bool;
                },
                isText: function (value) {
                    return value.type == Config.types.text;
                },
                isResource: function (value) {
                    return value.type == Config.types.image;
                }
            },
            created: function () {
                var vm = this;
                Event.$on('productReceived', function (msg) {
                    vm.show = true;
                    vm.resources = {};
                    vm.message = msg;
                    for (var key in msg) {
                        if (msg[key].type == Config.types.image) {
                            vm.resources[key] = msg[key];
                        }
                    }
                });

                Event.$on('productIdCatched', function (key) {
                    vm.id = key;
                    console.log(vm.id);
                });
            }
        }
</script>

<style scoped>
    .overflowed {
        overflow-y: auto;
    }
</style>