<template>
     <div>
         <a @click="getProduct(productId)">{{value}}</a><br/>
     </div>
</template>

<script>
    export default {
         props: ['value', 'productId'],
         data: function () {
                 return { loading: false, clicked: false}
         },
         methods: {
             getProduct: function (productId) {
                 var vm = this;
                 vm.loading = true;
                 vm.loading = false;
                 vm.clicked = true;
                 vm.emitProductReceived(window.Cache[productId], productId);
             },
             closeForm: function() {
                 this.clicked = false;
             },
             emitProductReceived: function(message, key) {
                 Event.$emit('productReceived', JSON.parse(JSON.stringify(message)));
                 Event.$emit('productIdCatched', key);
             }
         }
     }
</script>