.form-inline > * {
    margin:5px 3px;
}

.top-buffer { margin-top:20px; }
.bottom-buffer { margin-bottom:20px; }
.auto-y-buffer {margin: 0 auto;}
.no-margins {
    margin: 0;
}

.bg-white {
    background-color: white;
}

.block-bordered {
    border: 1px solid lightgray;
    border-radius: 5px;
    min-height: 400px;
}

.block-title-row {
    border-bottom: 1px solid lightgray;
    font-size: 20px;
    font-weight: normal;
    margin-top: 15px;
}

#add-category-submit {
}

/*admin part*/
.new-category-field {
    display: inline-block;
    width: 40%;
    margin-right: 10px;
}

.product-form {
    display: block;
    text-align: center;
    top: 0;
    left: 0;
    opacity: 1;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    overflow: scroll;
}

.product-form form {
    position: relative;
    display: inline-block;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    background: rgba(255,255,255,1);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 110;
    padding: 30px;
}

.product-edit-field {
    margin-bottom: 10px;
}

.product-edit-field input, .product-edit-field textarea, .product-edit-field label {
    width: 100%;
}

.product-form .col-md-6 {
    height: 90%;
    width: 48%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 15px;
    padding: 20px;
    border: 1px solid darkgrey;
    border-radius: 15px;
}

.product-edit-field img {
    max-width: 300px;
    height: auto;
}

.max-width {
    width: 100%;
}