.main-page-container{
    padding-top: 110px;
    padding-bottom: 20px;
    background: rgba(87, 79, 78, 1) url(../images/iphone-main.jpg) no-repeat fixed 0 0 / cover;
    position: relative;
    color: white;
    backdrop-filter: blur(10px);
}
.shop-text-title {
    font-size: 45px;
}
.shop-main-icons{
    font-size: 70px;
}
#cd-gallery-items li .thumbnail{
    background-color: transparent;
    padding-top: 10px;
    border:0;  
    margin-bottom: 0px; 
}
#cd-gallery-items li .thumbnail .caption{
    color: white; 
    padding: 30px;
}