@font-face {
    font-family: Raleway; /* Имя шрифта */
    src: url(../fonts/Raleway-Regular.ttf); /* Путь к файлу со шрифтом */
}

html {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

body {

    height: auto;
    margin: 0 0 300px 0;
    padding: 0;
}

body, a, a:hover {
    font-family: Raleway, Helvetica, Arial, sans-serif;
    color: black;
}

.form-inline > * {
    margin:5px 3px;
}

.top-buffer { margin-top:20px; }
.bottom-buffer { margin-bottom:20px; }

.no-margins {
    margin: 0;
}

.bg-white {
    background-color: white;
}

.block-bordered {
    border: 1px solid lightgray;
    border-radius: 5px;
    min-height: 400px;
}

.block-title-row {
    border-bottom: 1px solid lightgray;
    font-size: 20px;
    font-weight: normal;
}

#add-category-submit {
    display: none;
}

.navbar, .navbar a, .navbar a:hover {
    color: white;
    background-color: rgb(51, 51, 51);
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-nav {
    float: none ;
    width: 100%;
}

.navbar-nav li{
    width: 8%;
}

.nav>li>a:focus, .nav>li>a:hover {
    background: #555555;
}

.row {
    margin: 0;
}

.categories, .subcategories {
    height: auto;
    background: #d0d0d0;
    padding: 20px 50px 10px 50px;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid darkgray;
    z-index: 10;
}

.categories .logo {
    font-weight: 600;
    font-size: 20px;
    width: 20%;
}

.subcategories {
    background: #e5e5e5;
}

.categories div, .categories ul, .subcategories div, .subcategories ul {
    vertical-align: top;
    height: auto;
    display: inline-block;
}

.categories ul {
    width: 50%;
    text-align: center;
}

.categories li a, .subcategories li a {
    text-align: center;
    display: inline-block;
}

.categories li a:hover, .subcategories li a:hover {
    opacity: 0.6;
    text-decoration: none;
}

.categories li a:visited, .subcategories li a:visited {
    text-decoration: none;
    color: black;
}

.categories img, .subcategories img {
    display: block;
}

.categories ul li, .subcategories ul li {
    font-size: 12px;
    display: inline-block;
    list-style: none;
    margin-left: 25px;
    margin-right: 25px;
}

.categories .description, .subcategories {
    text-align: center;
}

.categories .active, .subcategories .active {
    text-decoration: none;
    opacity: 0.6;
}

@media screen and (max-width: 600px) {
    .categories .description {
        display: none;
    }

    .categories ul {
        width: 100%;
        text-align: center;
    }
}

#iphone-subcat {
    display: none;
}

#ipad-subcat {
    display: none;
}

.bx-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    border: 0;
    border-bottom: 2px solid darkgrey;
}
.bx-wrapper img {
    width: 100%;
    max-width: 100%;
    display: block;
}
.bx-prev, .bx-next {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    z-index: 3;
    bottom: 20px;
    right: 70px;
    border-radius: 3px;
    background: white;
    text-decoration: none;
    outline: none;
    transition: .2s ease-in-out;
}
.bx-next {right: 20px;}
.bx-prev:before, .bx-next:before {
    font-size: 16px;
    color: #9a9a9a;
    font-family: "Raleway";
}
.bx-prev:before {content: "\f104";}
.bx-next:before {content: "\f105";}

.footer {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 380px;
    font-size: 16px;
    background-color: #f5f5f5;
    background-color: #31353d;
    color: #cccccc;
    padding: 20px 100px;
    padding-top: 50px;
}


.footer div {
    text-align: center;
}
.footer div.middle {
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
}

.footer ul {
    padding: 0;
}

.footer ul li, .footer a{
    text-align: center;
    list-style: none;
    color: #cccccc;
    cursor: pointer;
}

.footer .feedback {
    margin-bottom: 15px;
    font-size: 26px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
}
.feedback img {
    margin-right: 10px;
    width: 30px;
    height: auto;
}

.footer h4 {
    letter-spacing: 2px;
    color: white;
    font-weight: 500;
    margin-bottom: 15px;
}

.copyright {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid white;
}

/*admin part*/
.new-category-field {
    display: inline-block;
    width: 40%;
    margin-right: 10px;
}